*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", system-ui;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
p{
    color: beige;
}
body{
    background-image: url('../assets/imagenes/fondobody-actturis.webp');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

#header{
    background-image: url(../assets/imagenes/banner\ act\ turis.png);
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
}
#headerbackground-image{
    opacity: 0,5;
}
.cont-header__flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 20%;
    transition: background-color 1.5s;
}
.cont-header__flexbox:hover{
    background-color: rgba(0, 0, 0, 0.651);
    transition: background-color 1.5s;
}

#cont-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    height: 100%;
}
#logo-parque{
    margin: 3% 0 3% 8%;
    width: 30%;
    height: 70%;
}

.header-menu{
    position: relative;
    width: 80%;
    display: inline-block;
    flex-direction: row-reverse;
    margin-right: 3%;
}

.header-menu ul{
    float: right;
    margin: 2%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3%;
    column-gap: 5%;
}
.header-menu li{
    list-style: none;
    width: 25%;
}

.header-menu a{
    color: #ffffff;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
}

#cont-header__titulo{
    margin-top: 24.5%;
    margin-left: 2%;
    font-family: "Montserrat", system-ui;
    color: #F2F2F2;
    font-size: 30px;
}

#cont-main__flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 6%;
    margin-bottom: 6%;
}
#cont-main__titulo{
    color:black ;
}
#cont-main__parrafo{
    background-color: #829453;
    width: 70%;
    height: auto;
    border-radius: 10px;
    transition: background-color 1.5s ease;
    padding: 0.5%;
    margin-top: 0.7%;
}
#cont-main__parrafo:hover{
    transition: background-color 1.5s ease;
    background-color: #496337;
}

#cont-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
    'texto1 carr1'
    'texto2 carr2'
    'texto3 carr3';
    column-gap: 5%;
    row-gap: 8%;
    margin-right: 5%;
    margin-left: 5%;
}

#cont-grid__texto1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: texto1;
    width: 100%;
    height: 100%;
}
#cont-grid__carr1{
    grid-area: carr1;
    width: 100%;
    height: 100%;
}

#cont-grid__texto2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: texto2;
    width: 100%;
    height: 100%;
}
#cont-grid__carr2{
    grid-area: carr2;
    width: 100%;
    height: 100%;
}

#cont-grid__texto3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: texto3;
    width: 100%;
    height: 100%;
}
#cont-grid__carr3{
    grid-area: carr3;
    width: 100%;
    height: 100%;
}

p{
    font-size: 22px;
    text-align: justify;
}

.cont-textocarrusel__flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  
}
.titulo{
    display: flex;
    justify-content: center;
    color: beige;
    margin-bottom: 2%;
}
.texto{
    background-color: #829453;
    border-radius: 3%;
    padding: 2%;
    transition: background-color 1.5s ease;
    
}
.texto:hover{
    transition: background-color 1.5s ease;
    background-color: #496337;
}

.carrusel{
    overflow: hidden;
    border-radius: 3%;
}   
.carrusel ul{
    display: flex;
    padding: 0;
    width: 200%;

    animation: carrusel 8s infinite ease-in-out;
}
.carrusel li{
    list-style: none;
    width: 100%;
}



@keyframes carrusel{
   0% {margin-left: 0%;}
   45% {margin-left: 0%;}

   50% {margin-left: -100%;}
   95% {margin-left: -100%;}
}




#pie{
    margin-top: 5%;
    padding-top: 2%;
    background-color: #496337;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#menu-pie{
    display: ruby;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    column-gap: 40%;
}
.elem-pie{
    margin-left: 50px;
    list-style: none;
}

.info-pie{
    color: #829453;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    transition: color 1s;
}
.info-pie:hover{
    color:  #ffffff;
}

.icono-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    flex-wrap: wrap;
}
.elemen-icono{
    list-style: none;
}

.icono{
    color: #829453;
    font-size: 32px;
    display: inline-block;
    margin: 0 20px;
    transition: color 1s, transform 1s;
}
.icono:hover{
    transform: translateY(-10px);
    color:  #ffffff;
}

#copyright{
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #829453;
}

@media screen and (max-width: 767px) and (min-width: 320px){
    img{
        object-fit: cover;
    }
    #header{
        height: 300px;
        width: 100%;
    }
    #cont-logo{
        margin-top: 5%;
        width: 40%;
        height: auto;
    }
    .header-menu{
        width: 100%;
        margin-right: 3%;
    }
    .header-menu ul{
        margin-top: 8%;
    }
    .header-menu li{
        margin-right: 2%;
    }
    .header-menu a{
        font-size: 10px;
    }
    #cont-header__titulo{
        margin-top: 65%;  
    }
    #cont-main__parrafo{
        width: 90%;
        padding: 2%;
    }
    #cont-main__parrafo p{
        font-size: 9px;
    }

    #cont-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        'texto1' 
        'carr1'
        'texto2' 
        'carr2'
        'texto3' 
        'carr3';
        row-gap: 4%;
        margin-right: 5%;
        margin-left: 5%;
    }
    

    .carrusel{
        overflow: hidden;
        border-radius: 3%;
    }   
    .carrusel ul{
        display: flex;
        padding: 0;
        width: 200%;
    
        animation: carrusel 8s infinite ease-in-out;
    }
    .carrusel li{
        list-style: none;
        width: 100%;
    }

    p{
        font-size: 10px;
    }
    h1{
        font-size: 14px;
        margin-left: 5%;
    }
    h2{
        font-size: 13px;
    }
    #menu-pie{
        margin-right: 15%;
        display: inline-block;
    }
    .info-pie{
        font-size: 15px;
        margin: 10px 5px;
    }
    .icono{
        font-size: 20px;
    }
}