*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header{
    background-image: url(../assets/imagenes/img-header-indexx.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
    margin-bottom: 5%;
}

#opacity{
    background-color: rgba(0, 0, 0, 0.455);
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
}

#header-menu{
    position: relative;
    width: 100%;
    height: 20%;
    display: inline-block;
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.236);
    transition: background-color 2s;
    z-index: 10;
}


#header-menu-ul{
    float: right;
    margin: 2%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2%;
    column-gap: 5%;

}
.header-menu-li{
    list-style: none;
}

.header-menu-cont{
    color: #ffffff;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;

}

#header-menu:hover{
    background-color: rgba(0, 0, 0, 0.599);
}

#logo-parque{
    margin: 1%;
    margin-left: 2%;
    margin-bottom: 2%;
    float: left;
    z-index: 10;
}

#logo-parque img{
    width: 70%;
    height: 70%;
}

#header-titulo{
    color: #ffffff;
    font-size: 25px;
    margin-left: 2%;
    margin-top: 50%;
}

#grid{
    display: grid;
    background-color: white;
    width: 100%;
    height: 800px;

    grid-template-columns: 1fr 1fr ;
    grid-template-rows:  1fr 1fr 1fr 1fr;

    grid-template-areas:
        'titulo1 carrusel '
        'parrafo1 carrusel '
        'mapa titulo2' 
        'mapa parrafo2';

    grid-column-gap: 10px;

     
}

.carrusel{
    margin: 5%;
    grid-area: carrusel;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    height: 90%;
}   

.carrusel-images{
    display: flex;
    align-items: center;
    animation: slide 9s infinite;
}

.cont-imagenes{
    min-width: 100%;
}

.cont-imagenes img{
    height: 90%;
    width: 100%;
    display: block;
}

@keyframes slide{
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(0); }
    100% { transform: translateX(0); }
}

.grid-titulo1{

    grid-area: titulo1;
    font-size: 25px;
    color: #829453;
    margin-left: 5%;
    margin-top: 18%;
}

.grid-parraf1{
    grid-area: parrafo1;
    font-size: 20px;
    color: #496337;
    margin-left: 5%;
}

#mapa{
    grid-area: mapa;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5%;
}

.grid-titulo2{
    grid-area: titulo2;
    font-size: 25px;
    color: #496337;
    margin-left: 5%;
    margin-top: 18%;
}

.grid-parraf2{
    grid-area: parrafo2;
    font-size: 20px;
    color: #829453;
    margin-left: 5%;
    margin-right: 5%;

}

#pie{
    margin-top: 5%;
    padding-top: 2%;
    background-color: #496337;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#menu-pie{
    display: ruby;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    column-gap: 40%;
}
.elem-pie{
    margin-left: 50px;
    list-style: none;
}

.info-pie{
    color: #829453;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    transition: color 1s;
}
.info-pie:hover{
    color:  #ffffff;
}

.icono-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.elemen-icono{
    list-style: none;
}

.icono{
    color: #829453;
    font-size: 32px;
    display: inline-block;
    margin: 0 20px;
    transition: color 1s, transform 1s;
}

.icono:hover{
    transform: translateY(-10px);
    color:  #ffffff;
}

#copyright{
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #829453;
}